<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @knowledge.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @knowledge.state %>
</p>

<p>
  <strong>First note:</strong>
  <%= @knowledge.first_note %>
</p>

<p>
  <strong>Average:</strong>
  <%= @knowledge.average %>
</p>

<%= link_to 'Edit', edit_knowledge_path(@knowledge) %> |
<%= link_to 'Back', knowledges_path %>
